<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm confirm-message">
                <h1><span class="glyphicon glyphicon-ok"></span> Thankyou for choosing BookMyCab</h1>
                <h3>Your cab is booked !</h3>
            </div>
        </div>
    </div>
    <div class="row well">
        <div class="col-md-2">
            <img src="../public/images/nophoto.png" style="border-radius: 50%" width="150" height="150">
            <h3 align="center">Raj Kumar</h3>
        </div>
        <div class="col-md-8">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <h4><span class="glyphicon glyphicon-map-marker pickup"></span> Pickup Location</h4>
                    </div>
                    <div class="col-md-8">
                        <h4>Balaji Estate, Kalkaji, New Delhi</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4><span class="glyphicon glyphicon-map-marker destination"></span> Drop Location</h4>
                    </div>
                    <div class="col-md-8">
                        <h4>Hotel Ashoka, Pahar Ganj, New Delhi</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4><span class="glyphicon glyphicon-ok-circle"></span> Booking Type</h4>
                    </div>
                    <div class="col-md-8">
                        <h4>Current</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4><span class="glyphicon glyphicon-earphone"></span> Driver Number</h4>
                    </div>
                    <div class="col-md-8">
                        <h4>9876543212</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4><span class="glyphicon glyphicon-th-list"></span> Vehicle Details</h4>
                    </div>
                    <div class="col-md-8">
                        <h4>Hyundai Accent DL 6SM 2567</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4>&#8377; Fare</h4>
                    </div>
                    <div class="col-md-8">
                        <h4>&#8377; 250</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
