<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form id="form1" ng-submit="ChangePass()">
                <input type="password" placeholder="Old Password" id="oldpassword" class="form-control" ng-model="User.OldPassword" />
                <input type="password" placeholder="New Password" id="newpassword" class="form-control" ng-model="User.NewPassword" />
                <input type="password" placeholder="Confirm New Password" id="confirmpassword" class="form-control" /><br/>
                <button type="submit" class="btn btn-success">Submit</button>
                <button class="btn btn-warning" onclick="window.location.href='#/'">Cancel</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
