<div class="container-fluid" style="margin-top:0px; background: #f0ad4e">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <div style="text-align: center; margin-top:20px">
        <a class="homelinks" href="#">Cab Fares</a> <span class="separator">|</span>
        <a class="homelinks" href="#">Support</a> <span class="separator">|</span>
        <a class="homelinks" href="/Login">Login</a> <span class="separator">|</span>
        <a class="homelinks" href="/Register">Register</a>
      </div> -->
                <div style="margin-top:80px; text-align: center">
                    <img src="../public/images/bookmycab2.png" />
                </div>
                <div style="text-align: center">
                    <hr class="hr1" /><span class="glyphicon glyphicon-star" style="color:white; font-size: 30pt"></span>
                    <hr class="hr2" />
                </div>
                <div style="margin-top:20px; text-align: center" class="slogan">
                    <span>Book Cabs Online Anytime Anywhere In India</span>
                </div>
                <div class="col-lg-12" style="margin-top: 50px; margin-bottom: 50px; text-align: center">
                    <a type="button" class="btn btn-default btn-lg booknow-btn" href="#/BookCab">Book Now</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #F0F2F2"><br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="panel" style="text-align: center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Special Offer</h3>
                    </div>
                    <img src="../public/images/offer.jpg" width="51%" />
                    <!-- <span class="glyphicon glyphicon-thumbs-up" style="font-size:165px; color:lightgrey"></span> -->
                    <p>
                        90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.
                    </p>
                    <button type="button" class="btn btn-block btn-success">Avail Offer</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel" style="text-align: center">
                    <div class="panel-heading">
                        <h3 class="panel-title">24/7 Service</h3>
                    </div>
                    <img src="../public/images/24by7.png" width="60%" />
                    <p>
                        90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.
                    </p>
                    <button type="button" class="btn btn-block btn-info">Get Info</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel" style="text-align: center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contact Us</h3>
                    </div>
                    <img src="../public/images/contact-us.jpg" width="64%" />
                    <p>
                        90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.
                    </p>
                    <button type="button" class="btn btn-block btn-warning">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</div>
